body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: #e6edf3;
}

.search-bar__button,
.load-more-button {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.search-bar__button:hover,
.load-more-button:hover {
  background-color: #777;
  color: white;
}
